bing-search-java-sdk/schema/src/test/resources/com/google/code/bing/search/news.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:mms="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:element="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" xmlns:web="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" xmlns:enc="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" xmlns:pho="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:ia="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:rs="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" xmlns:news="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:ads="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:spl="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" xmlns:tra="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" xmlns:fls="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mw="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb">
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" schemaLocation="ads.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" schemaLocation="element.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" schemaLocation="fls.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" schemaLocation="enc.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" schemaLocation="ia.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb" schemaLocation="mw.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" schemaLocation="bing-api.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" schemaLocation="pho.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" schemaLocation="rs.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" schemaLocation="spl.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" schemaLocation="tra.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" schemaLocation="web.xsd"/>
  <xs:element name="News">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="news:Total"/>
        <xs:element ref="news:Offset"/>
        <xs:element ref="news:Results"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Total" type="xs:integer"/>
  <xs:element name="Offset" type="xs:integer"/>
  <xs:element name="Results">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="news:NewsResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="news:Title"/>
        <xs:element minOccurs="0" ref="news:Url"/>
        <xs:element ref="news:Source"/>
        <xs:element ref="news:Snippet"/>
        <xs:element minOccurs="0" ref="news:Date"/>
        <xs:element ref="news:BreakingNews"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="Url" type="xs:anyURI"/>
  <xs:element name="Source" type="xs:string"/>
  <xs:element name="Snippet" type="xs:string"/>
  <xs:element name="Date" type="xs:NMTOKEN"/>
  <xs:element name="BreakingNews" type="xs:integer"/>
</xs:schema>
